patches/*.patch -diff linguist-generated

FunctionGram-Phase-2-Users.patch text diff
FunctionGram-Phase-3-Content.patch text diff
FunctionGram-Phase-4-Appearance.patch text diff
FunctionGram-Phase-5-Flags-Counters.patch text diff
